language: python
before_install:
- openssl aes-256-cbc
  -K $encrypted_753ebdfe5ffa_key
  -iv $encrypted_753ebdfe5ffa_iv
  -in config/travisci_rsa.enc
  -out config/travisci_rsa
  -d
- chmod 0600 config/travisci_rsa
- cp config/travisci_rsa ~/.ssh/id_rsa
before_script:
  - "sudo apt-get update"
  - "echo ttf-mscorefonts-installer msttcorefonts/accepted-mscorefonts-eula select true | sudo debconf-set-selections"
  - "sudo apt-get install ttf-mscorefonts-installer"
  - "sudo mkfontdir"
  - "sudo apt-get install pandoc python3"
# sudo: false
# addons:
#   apt:
#     packages:
#     - pandoc
#     - python3
#     - ttf-mscorefonts-installer
#     - fonts-liberation
script:
- ./slides/slidy-scripts/check.py
- ./slides/slidy-scripts/gen_slides.sh
after_success:
- ./config/publish-html
notifications:
  email: false
